body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

.navbar {
  background: crimson;
  color: white;
  padding: 15px;
  text-align: center;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

button {
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
}